# NZ COVID19 flights

### Download data

In [ ]:
!curl -s https://raw.githubusercontent.com/stevemanion/nz-covid19-travel-data/master/data/meta/262-flights.csv -o 262-flights.csv

In [ ]:
!curl -s https://raw.githubusercontent.com/stevemanion/nz-covid19-travel-data/master/data/sources/open-flights/airports.dat -o airports.dat

This data comes from Steve Manion's work on enriching the Ministry of Health's data with external sources.
https://github.com/stevemanion/nz-covid19-travel-data

From the README:
> This is a travel dataset pertaining to all Covid 19 cases in New Zealand identified by the Ministry of Health. Each case record has been enriched and extended using Open Source Intelligence (OSINT), including details such as flight schedules, cruise ship itineraries, and so forth to help identify potential points of transmission between cases.

> Such knowledge is very useful in New Zealand's outbreak, as a large portion of cases can be attributed to citizens returning from abroad, cruise ship activity, and pre-lockdown events hosting international visitors.

### Manipulate

In [2]:
import pandas as pd

In [3]:
flights = pd.read_csv('./262-flights.csv')
flights

,caseId,flight,departureDate,arrivalDate,origin,destination,tailNumber
0,1,UNK,NaN,26/02/2020,Unknown-Iran,Dubai,NaN
1,1,EK450,NaN,26/02/2020,Dubai,Denpasar,A6-EGC
2,1,EK450,NaN,26/02/2020,Denpasar,Auckland,A6-ECN
3,2,NZ283,NaN,25/02/2020,Singapore,Auckland,ZK-NZN
4,3,QR920,NaN,23/02/2020,Doha,Auckland,A7-BBG
...,...,...,...,...,...,...,...
205,249,EK448,NaN,20/03/2020,Dubai,Auckland,A6-EON
206,249,NZ433,NaN,21/03/2020,Auckland,Wellington,ZK-OXK
207,256,QR920,NaN,18/03/2020,Doha,Auckland,A7-BBA
208,256,NZ5035,NaN,19/03/2020,Auckland,New Plymouth,ZK-MVU
209,257,QR920,NaN,25/03/2020,Doha,Auckland,NaN

We want to combine these origin/destination fields with something we can plot with.


Join with OpenFlights airport database to get lat/long values of airports.

In [4]:
airports = pd.read_csv('./airports.dat', header=None)
airports.columns = ['id', 'name', 'city', 'country', 'iata', 'icao', 'latitude', 'longitude', 'altitude', 'timezone', 'dst', 'tzdb', 'type', 'source'] 
airports = airports.drop_duplicates(['city'])

unique_flights = flights[flights['flight'] != 'UNK'][['origin', 'destination']].drop_duplicates()

In [5]:
joined = unique_flights.merge(
    airports,
    left_on='origin',
    right_on='city',
    how='left'
).merge(
    airports,
    left_on='destination',
    right_on='city',
    suffixes='_2',
    how='left'
)[['origin', 'destination', 'latitude_', 'longitude_', 'latitude2', 'longitude2']]

joined['startLat'] = joined['latitude_']
joined['startLng'] = joined['longitude_']
joined['endLat'] = joined['latitude2']
joined['endLng'] = joined['longitude2']

del joined['latitude_']
del joined['longitude_']
del joined['latitude2']
del joined['longitude2']

In [6]:
joined

,origin,destination,startLat,startLng,endLat,endLng
0,Dubai,Denpasar,25.252800,55.364399,-8.748170,115.167000
1,Denpasar,Auckland,-8.748170,115.167000,-37.008099,174.792007
2,Singapore,Auckland,1.416950,103.867996,-37.008099,174.792007
3,Doha,Auckland,25.261101,51.565102,-37.008099,174.792007
4,Houston,Auckland,29.984400,-95.341400,-37.008099,174.792007
5,Auckland,Christchurch,-37.008099,174.792007,-43.489399,172.531998
6,Brisbane,Wellington,-27.570299,153.007996,-41.327202,174.804993
7,Los Angeles,Auckland,-37.401699,-72.425400,-37.008099,174.792007
8,Auckland,Wellington,-37.008099,174.792007,-41.327202,174.804993
9,Auckland,Dunedin,-37.008099,174.792007,-45.928101,170.197998
10,Dubai,Auckland,25.252800,55.364399,-37.008099,174.792007
11,San Francisco,Auckland,37.618999,-122.375000,-37.008099,174.792007
12,Sydney,Auckland,46.161400,-60.047798,-37.008099,174.792007
13,Singapore,Christchurch,1.416950,103.867996,-43.489399,172.531998
14,Auckland,New Plymouth,-37.008099,174.792007,-39.008598,174.179001
15,Vancouver,Auckland,49.193901,-123.183998,-37.008099,174.792007
16,Melbourne,Auckland,-37.728100,144.901993,-37.008099,174.792007
17,Christchurch,Dunedin,-43.489399,172.531998,-45.928101,170.197998
18,Sydney,Christchurch,46.161400,-60.047798,-43.489399,172.531998
19,Melbourne,Wellington,-37.728100,144.901993,-41.327202,174.804993
20,Auckland,Napier,-37.008099,174.792007,-39.465801,176.869995
21,Auckland,Queenstown,-37.008099,174.792007,-31.920200,26.882200
22,Sydney,Wellington,46.161400,-60.047798,-41.327202,174.804993
23,Dunedin,Auckland,-45.928101,170.197998,-37.008099,174.792007
24,Wellington,Hamilton,-41.327202,174.804993,43.173599,-79.934998
25,Hamilton,Wellington,43.173599,-79.934998,-41.327202,174.804993
26,Queenstown,Christchurch,-31.920200,26.882200,-43.489399,172.531998
27,Christchurch,Palmerston North,-43.489399,172.531998,-40.320599,175.617004
28,Auckland,Palmerston North,-37.008099,174.792007,-40.320599,175.617004
29,Auckland,Nelson,-37.008099,174.792007,-41.298302,173.220993
30,Honolulu,Auckland,21.320620,-157.924228,-37.008099,174.792007
31,Bangkok,Auckland,13.912600,100.607002,-37.008099,174.792007
32,Wellington,Auckland,-41.327202,174.804993,-37.008099,174.792007
33,Hong Kong,Auckland,22.308901,113.915001,-37.008099,174.792007
34,Kuala Lumpur,Auckland,2.745580,101.709999,-37.008099,174.792007
35,Auckland,Blenheim,-37.008099,174.792007,-41.518299,173.869995
36,London,Sydney,43.035599,-81.153900,46.161400,-60.047798
37,Geneva,Abu Dhabi,46.238098,6.108950,24.433001,54.651100
38,London,Dubai,43.035599,-81.153900,25.252800,55.364399
39,Auckland,Rotorua,-37.008099,174.792007,-38.109200,176.317001
40,Geneva,Dubai,46.238098,6.108950,25.252800,55.364399
41,London,Abu Dhabi,43.035599,-81.153900,24.433001,54.651100
42,Abu Dhabi,Sydney,24.433001,54.651100,46.161400,-60.047798
43,Dubai,Sydney,25.252800,55.364399,46.161400,-60.047798
44,Johannesburg,Dubai,-25.986300,28.140100,25.252800,55.364399
45,Barcelona,Dubai,41.297100,2.078460,25.252800,55.364399
46,Birmingham,Dubai,52.453899,-1.748030,25.252800,55.364399
47,Frankfurt,Abu Dhabi,50.033333,8.570556,24.433001,54.651100
48,Abu Dhabi,Melbourne,24.433001,54.651100,-37.728100,144.901993
49,Manchester,Singapore,53.353699,-2.274950,1.416950,103.867996
50,Doha,Sydney,25.261101,51.565102,46.161400,-60.047798
51,Wellington,Christchurch,-41.327202,174.804993,-43.489399,172.531998
52,Nadi,Auckland,-17.755400,177.442993,-37.008099,174.792007

### Plotting

In [7]:
%matplotlib widget

In [15]:
import cartopy
import cartopy.crs as ccrs
import numpy as np
import matplotlib.pyplot as plt

akl = airports[airports.city == 'Auckland']
akl_coords = (float(akl.longitude), float(akl.latitude))


projections = (
    ccrs.cartopy.crs.Robinson(akl_coords[0]),
    ccrs.NearsidePerspective(*akl_coords, satellite_height=885831)
)

for index, proj in enumerate(projections):
    plt.figure()
    ax = plt.axes(projection=proj)
    ax.set_global()

    ax.add_feature(cartopy.feature.OCEAN, zorder=0)
    ax.add_feature(cartopy.feature.LAND, zorder=0, edgecolor='black')
    ax.add_feature(cartopy.feature.BORDERS, linestyle='-')

    crs = ccrs.Geodetic()
    for i, a, b, start_lat, start_long, end_lat, end_long in joined.itertuples():
        start_transformed = proj.transform_point(start_long, start_lat, crs)
        end_transformed = proj.transform_point(end_long, end_lat, crs)
        plt.plot(
            (start_transformed[0], end_transformed[0]),
            (start_transformed[1], end_transformed[1]),
            linewidth=0.3,
            marker='o',
            markersize=2,
            color='red',
        )

    ax.gridlines()
    plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …